* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

@font-face {
    font-family: "Helvetica Neue" sans-serif;
    src: url(fonts/HelveticaNeueLight.otf);
}

body {
    font-family: "Neue", sans-serif;
    background: black;

}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    
}

.your {
    width: 100%;
    height: 100%;
    background-image: url(imgs/placeholder.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    padding: 10px 50px 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.nav-list ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 90px;
}

.title {
    color: #34C759;
    font-weight: 700;
    font-size: 14px;
    line-height: 90px;
}



.food {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.food h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 85px;
    font-weight: lighter;
}

.hot {
    font-size: 85px;
    font-weight: bold;
}

.food p {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
}

.btn {
    width: 220px;
    height: 72px;
    border-radius: 43px;
    background: #34C759;
    margin-top: 50px;
    color: #1A1A1A;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    margin-top: 100px;
}

.time {
    width: 245px;
    height: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time img {
    margin-top: 12px;
}

.time h1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #FFFFFF;
}

.time p {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: #5b5555;
}

main {
    background: black;
}

.container1 {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.basics {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #252525;
    box-shadow: 0px 2px 5px 0px #0000001A;
    padding: 70px 60px 70px 60px;
}

.basics h1 {
    font-size: 44px;
    font-weight: 100;
    line-height: 30px;
    color: #D9D9D9;
    margin-top: -50px;

}


.basics p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #A6A6A6;
    text-align: center;
    margin-top: 80px;
}

.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.basics-box4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 100px;
}

.work {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.how {
    font-size: 50px;
    font-weight: 100;
    line-height: 30px;
    color: #D9D9D9;
    margin-top: -50px;
}

.line {
    width: 60px;
    height: 2px;
    background: #34C759;
    margin-top: 70px;

}

.line2 {
    width: 60px;
    height: 2px;
    background: #191919;
    margin-top: 15px;
}

.line3 {
    width: 60px;
    height: 2px;
    background: #34C759;
    margin-top: 15px;

}

.box3 {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.pick {
    width: 255px;
    height: 215px;
    background: #252525;
    border-radius: 6px;
    box-shadow: 0px 2px 5px 0px #0000001A;
    padding: 0 15px 0 15px;
}

.pick h1 {
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    color: #D9D9D9;
    margin-top: 15px;
}

.pick p {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF80;
    margin-top: 15px;
}

.pick1 {
    width: 255px;
    height: 215px;
    border-radius: 6px;
    box-shadow: 0px 2px 5px 0px #0000001A;
    background: #34C759;
    padding: 0 15px 0 15px;
}


.pick1 h1 {
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    color: #191919;
    margin-top: 15px;
}

.pick1 p {
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
    color: #191919;
    margin-top: 15px;
}

.day {
    color: white;
    margin-top: 150px;
}

.dish {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.dish h1 {
    font-size: 50px;
    font-weight: 100;
    line-height: 30px;
    color: #D9D9D9;
    margin-top: -55px;
}

.featured {
    width: 350px;
    height: 493px;
    background: #252525;
    margin-top: 20px;
    padding: 0 20px 0 20px;
}

.fod {
    position: relative;
    margin-left: -20px;
}

.arrow {
    position: absolute;
    margin-top: -245px;
    margin-left: 265px;
}

.featured h1 {
    font-size: 32px;
    font-weight: 400;
    line-height: 30px;
    color: #D9D9D9;
    margin-top: 20px;
}

.featured h6 {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #A4A8B2;
    margin-top: 5px;

}

.featured p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #85878C;
    margin-top: 20px;
}

.order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.stars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.stars p {
    font-size: 12px;
    font-weight: 900;
    color: #B3B3B3;
    margin-top: -1px;
}

.btn_order {
    width: 100px;
    height: 40px;
    background: #34C759;
    border-radius: 43px;
    color: #252525;
    font-size: 10px;
    font-weight: 900;
    cursor: pointer;
}

.btn_order1 {
    width: 100px;
    height: 40px;
    background: #262626;
    border-radius: 43px;
    color: #FFFFFF80;
    font-size: 10px;
    font-weight: 900;
    cursor: pointer;
    border: 2px solid #6f6969;
}

.meal {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 70px;
}


.kitchen {
    display: flex;
   justify-content: space-between;
   align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.chefs {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 150px;
}

.chefs h1 {
    font-size: 50px;
    font-weight: 100;
    line-height: 30px;
    color: #D9D9D9;
    margin-top: -55px;
}

.chat {
    gap: 20px;
    display: flex;
    align-items: center;
}

.profil {
    width: 350px;
    height: 154px;
    display: flex;
    flex-direction: column;
}

.profil_text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profil_text h1 {
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
}

.profil_text p {
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF80;
}

.profil_img {
    margin-top: 20px;
}

.Regips {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 150px;
}

.Regips h1 {
    font-size: 50px;
    font-weight: 100;
    line-height: 30px;
    color: #D9D9D9;
    margin-top: -55px;
}

.breakfast {
    width: 540px;
    height: 510px;
    border: 1px solid white;
    background-image: url(imgs/placeholder\ \(11\).png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px;
}

.circle {
    width: 40px;
    height: 40px;
    background: #4f4d4d;
    border-radius: 50px;
    margin-left: 475px;
    margin-top: 25px;
}

.breakfast_arrow {
    margin-left: 14px;
    margin-top: 14px;
}

.breakfast_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.breakfast_text p {
    font-size: 14px;
    font-family: 400;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 65px;
}

.breakfast_text h1 {
    font-size: 24px;
    font-family: 100;
    line-height: 40px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 40px;
}

.eye {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.lorem {
    width: 540px;
    height: 150px;
    background: #252525;
    box-shadow: 0px 2px 5px 0px #0000001A;
    padding: 20px;
    border-radius: 6px;
}

.lorem p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}

.lunch {
    width: 65px;
    height: 25px;
    background: #000000;
}

.lunch h5 {
    font-weight: 900;
    font-size: 10px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 25px;
}

.data p {
    font-weight: 400;
    font-size: 12px;
    color: #B3B3B3;
}

.eye1 {
    display: flex;
    gap: 20px;
}


.lorem1 {
    width: 540px;
    height: 150px;
    background: #34C759;
    box-shadow: 0px 2px 5px 0px #0000001A;
    padding: 20px;
    border-radius: 6px;
}

.lorem1 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #252525;
}

.lunch1 {
    width: 65px;
    height: 25px;
    background: #000000;
}

.lunch1 h5 {
    font-weight: 900;
    font-size: 10px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 25px;
}

.data1 p {
    font-weight: 400;
    font-size: 12px;
    color: #1A1A1A;
}

.eye2 {
    display: flex;
    gap: 20px;
}

.lorem1_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}


.lorem_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.data {
    display: flex;
    gap: 20px;
}

.data1 {
    display: flex;
    gap: 20px;
}
.lorem:nth-child(2) {
    width: 540px;
    height: 150px;
    background-image: url(imgs/image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.lorem:nth-child(3) {
    background: #34C759;

}

.lorem_three {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.Jason {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 150px;
}

.social h1 {
    font-size: 50px;
    font-weight: 100;
    line-height: 30px;
    color: #D9D9D9;
    margin-top: -55px;
}

.social_contener {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 80px 0 100px 0;
}

.social_content {
    width: 350px;
    height: 330px;
    background: #252525;
}

.site {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.icon {
    display: flex;
    align-items: center;
    gap: 25px;
}

.icon p {
    font-size: 14px;
    font-weight: 400;
    color: #BFBFBF;
}

.site_button {
    width: 100px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid #303030;
    background: #262626;
    color: #737373;
    font-size: 10px;
    font-weight: 900;
}

.line4 {
    width: 350px;
    height: 2px;
    background: #303030;
}

.lorems {
    padding: 25px;
}

.lorems1 {
    width: 350px;
    height: 250px;
    background-image: url(imgs/content.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.lorems h5 {
    font-size: 14px;
    font-weight: 400;
    color: #737373;
}

.lorems p {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: #FFFFFFB2;
    margin-top: 25px;
}

.lorems h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: #34C759;
    margin-top: 15px;
}


.line5 {
    width: 4px;
    height: 92px;
    border-radius: 100px;
    background: #303030;
    margin-left: 325px;
    margin-top: -215px;
}


.foot {
    background: #252525;
    box-shadow: 0px 2px 5px 0px #0000001A;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.foot_top {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
}

.scroll {
    width: 100%;
    height: 2px;
    background: #303030;
    margin-top: 50px;
}

.foot_bottom {
    text-align: center;
    margin-top: 50px;
}

.foot_bottom p {
    font-size: 12px;
    font-weight: 400;
    line-height: 60px;
    color: #737373;
}